﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ManagementIt.WebUIBlazor</a>
</div>

<div class="text-white">
    <h5>
        <MudNavMenu>
            <MudDivider Class="my-2" />
            <MudNavGroup Title="Модуль заявки" Expanded="@collapseNavMenu" @onclick="ToggleNavMenu">
                <MudNavLink Href="/users">Посмотреть заявки</MudNavLink>
                <MudNavLink Href="/users">Администрирование</MudNavLink>
            </MudNavGroup>
            <MudDivider Class="my-2" />
            <MudNavLink Href="/about">About</MudNavLink>
        </MudNavMenu>
    </h5>
</div>

@code {
    private bool collapseNavMenu = false;


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
